/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Body */
body {
  background-color: #FFF;
  font-family: 'Noto Sans', sans-serif;
}

/* Header */


a {
  text-decoration: none;
  color: #000;
}

header h1 {
  text-align: center;
  padding-top: 20px;
}



header p {
  text-align: center;
}

header {
  height: 15vh;
}

/* Navbar */

nav{
  width: 100%;
  background-color: #FFF;
  top: 0px;
  text-transform: capitalize;
}

nav ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
  
}

nav ul li {
  margin-left: 20px;
  text-align: center;
  position: relative;

}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a {
  display: block;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
  
}

nav > ul li:hover .sous{
  display: block;
}

.sous li{
  float: none;
  width: 100%;
  text-align: left;
}

.sous a{
  border-bottom: none;
  padding: 10px;
}
.sous a:hover{
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.1);
}

.deroulant > a:hover{
  animation: drop 1.5s;
}




@keyframes drop {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(20%);
  }
}



/* Main Content */

main {
  height: 80vh;
}






.container {
  width: 30%;
  height: 35%;

}

.produit {
  background-color: #FFF;
  width: 65%;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-bottom: 15px;
}

.container img {
  width: 50%;
  height: 35%;


}


.container .desc p {
  text-transform: uppercase;
}

.container .desc ul li {
  text-transform: uppercase;
  margin-top: 5px;
}

.contain {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  flex-wrap: wrap;
}

.articleKey {
  display: flex;
  flex-direction: column;
}


.containerKey {
  width: 30%;
  height: 35%;

}

.produitKey {
  background-color: #FFF;
  width: 65%;
  height: 350px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-bottom: 5px;
}

.containerKey img {
  width: 50%;
  height: 35%;
  object-fit: contain;


}


.containerKey .desc p {
  text-transform: uppercase;
}

.containerKey .desc ul li {
  text-transform: uppercase;
  margin-top: 5px;
}

.containKey {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  flex-wrap: wrap;
}

.articleKey {
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  margin-top: 30px;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mentions {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 5px;
}

.copyright {
  font-size: 12px;
  color: #ffffff;
}


@media screen and (max-width: 390px) {

  .container {
    width: 100%;
    height: 35%;

  }

  .container img {
    width: 100%;
    height: 35%;
    border-radius: 30px;

  }

  .container .desc p {
    text-transform: uppercase;
  }

  .container .desc ul li {
    text-transform: uppercase;
    margin-top: 5px;
  }

  .contain {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
  }

  .article {
    display: flex;
    flex-direction: column;
  }


  /* Responsive Keyboards */

  .containerKey {
    width: 100%;
    height: 35%;

  }

  .containerKey img {
    width: 100%;
    height: 35%;
    border-radius: 30px;

  }

  .containerKey .desc p {
    text-transform: uppercase;
  }

  .containerKey .desc ul li {
    text-transform: uppercase;
    margin-top: 5px;
  }

  .containKey {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
  }

  .article {
    display: flex;
    flex-direction: column;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


}