*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}





























































/* Footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content p {
    margin: 0;
  }
  
  